name: Build Check on ARM64

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  Build:

    runs-on: ubuntu-latest  # Host OS for the container

    steps:
    - name: Checkout current repository
      uses: actions/checkout@v4
      with:
        path: 'unified-wifi-mesh'

    - name: Clone OneWiFi repository
      run: |
        mkdir -p easymesh_project
        git clone https://github.com/rdkcentral/OneWifi.git easymesh_project/OneWifi
        mv unified-wifi-mesh easymesh_project/unified-wifi-mesh

    - name: Set up dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y build-essential \
                                cmake \
                                python3 \
                                python3-pip \
                                git \
                                vim \
                                libev-dev \
                                libjansson-dev \
                                zlib1g-dev \
                                libnl-3-dev \
                                libnl-genl-3-dev \
                                libnl-route-3-dev \
                                libavro-dev \
                                libcjson1 libcjson-dev \
                                libssl-dev \
                                uuid-dev \
                                libmysqlcppconn-dev \
                                libreadline-dev \
                                iptables \
                                mariadb-server \
                                gnupg \
                                file \
                                golang

    - name: Setup OneWiFi
      working-directory: easymesh_project/OneWifi
      run: |
        git config --global user.email "${{ github.actor }}@users.noreply.github.com"
        git config --global user.name "${{ github.actor }}"
        make -f build/linux/makefile setup
      env:
        GITHUB_ACTOR: ${{ github.actor }}

    - name: Build OneWiFi
      working-directory: easymesh_project/OneWifi
      run: |
        make -f build/linux/makefile all

    - name: Build unified-wifi-mesh controller
      working-directory: easymesh_project/unified-wifi-mesh/build/ctrl
      run: |
        make clean
        make -j all

    - name: Build unified-wifi-mesh agent
      working-directory: easymesh_project/unified-wifi-mesh/build/agent
      run: |
        make clean
        make -j all

    - name: Build unified-wifi-mesh CLI
      working-directory: easymesh_project/unified-wifi-mesh/build/cli
      run: |
        make clean
        make -j all
